<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mensagem</title>
  </head>
  <body>
    
    
    

    <div class="container mt-5">
     
           <form method="post" action="/send">

          <div class="row col-10  mx-auto ">
            <h1 class="display-6 text-center">Envie sua mensagem</h1>
          
              <div class=" col  mb-3">
           
                  <label for="assunto" class="form-label" >Assunto</label>
                  <input type="text" name="subject" autofocus class="form-control" id="nome" autocomplete="off">
                  

              <div class="  col mb-3 mt-3 "><label for="Mensagem" class="form-label">Mensagem</label>
                <textarea  class="form-control " id="mensagem" name="conteudo" rows="4" autocomplete="off"></textarea>
                </div>
            

              <div class="mb-3 col text-center">
                  <button type="submit" class=" btn btn-primary">
                      Enviar mensagem
                  </button>
                  </div>


          </div>
        </div>
      </div> 
     

      <% if (email) { %>
        <div class="col-8 alert alert-success mx-auto text-center">
          <%- email %>
        </div>
      <% } %>

      <% if (mensagem) { %>
        <div class="col-8 alert alert-danger mx-auto text-center">
          <%- mensagem %>
        </div>
      <% } %>

     

    </div>
      </form>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

      </body>
</html>
